.section_poemalar{
    padding-top: 150px;
}
.poema_title{
    font-size: 20px;
}
.poema_text{
    font-size: 11px;
}
.seir_title{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.seir_text{
    font-size: 10px;
    overflow: auto;
    height: 350px;
}
.seir_text::-webkit-scrollbar {
    width: 1px;
}
.seir_text::-webkit-scrollbar-track {
    background: #5f5f5f;
}
.seir_text::-webkit-scrollbar-thumb {
    background: #888;
}
