@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;


}
body{
    background-color: #F5F5F5;
    width: 100%;
    height: 100vh;
}
.home {
    background-color: #F5F5F5;
}

.home_img {
    margin: auto;
    width: 500px;
    height: 455px;

    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(../img/sehriyar.png);
    /* filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25)); */
    border-radius: 8.57954px;
}

.home_div_img {
    margin-bottom: 8rem;
}

.home .home_div .home_h1 {
    font-size: 3em;
    /* margin-top: 0px; */
    /* text-align: center; */
}

.margin_top {
    margin-top: 140px !important;
}

.home .home_div .home_p {
    font-size: 1em;
    margin-top: 30px !important;
    /* text-align: center; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #362F2F;
}

header .nav-link{
    font-size: 13px;
}
.img_read {
    background: url(../img/şehriyar_best_read.png);
    border-radius: 50px;
    width: 400px;
    height: 480px;

}

.text_img_line {
    width: 275px;
}


/* -------------------------------------------------about.html-------------------------------------------*/

.div_about_img {
    width: 100%;

}

.img_about {
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 70%;

    height: 60vh;

}

.about_section{
    padding-top: 110px !important;
}
.strong_about {
    margin-top: 20px;
    max-width: 600px;
    font-size: 11px !important;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #b6b5b5;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
/* sticky navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease;
}
nav.sticky {
    transition: 0.5s ease !important;
    padding: 8px 20px !important;
  }
/* book_section */
/* .book_section{
    margin-top: 100px;
} */
/* Poemalar */

/* arxiv */
.img-size{
    height: 300px; width: 400px;
}
.img_size{
    height: 100%; width: 100%;
}
/* contact */
.section_contact{
    padding-top: 150px;
}
.bg_contact{
    background: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
}
/* Responsiv hisse */
@media only screen and (max-width: 768px) {

    
    .home .home_div .home_h1 {
        font-size: 2.4em;
    }
    .home .home_div .home_p {
       
        font-size: 14px;
      
    
  }
}


@media only screen and (max-width: 500px) {

    
    .home .home_div .home_h1 {
        font-size: 1.6em;
    }
    .home .home_div .home_p {
       
        font-size: 10px;
      
    
  }
}











